app==0.0.1
attrs==21.2.0
babel==2.9.1
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cloudscraper==1.2.58
colorgram.py==1.2.0
cryptography==3.4.7
cssselect==1.1.0
dicttoxml==1.7.4
docutils==0.17.1
encrypter==0.1
fernet==1.0.1
flask==2.0.1
future==0.18.2
html2text==2020.1.16
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
itsdangerous==2.0.1
jinja2==3.0.1
json2xml==3.6.0
lockfile==0.12.2
lxml==4.6.3
markupsafe==2.0.1
menu==3.2.2
myapplication==0.1.0
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pid==3.0.4
pillow==8.2.0
pip==21.1.2
playsound==1.2.2
pluggy==0.13.1
prettytable==2.1.0
psycopg2-binary==2.8.6
py==1.10.0
pyaes==1.6.1
pycparser==2.20
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.4
python-daemon==2.3.0
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4.1
requests-toolbelt==0.9.1
requests==2.25.1
service==0.6.0
setproctitle==1.2.2
setuptools==40.8.0
six==1.16.0
soupsieve==2.2.1
spotipy==2.18.0
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.0
unidecode==1.2.0
urllib3==1.26.5
utils==1.0.1
wcwidth==0.2.5
werkzeug==2.0.1
wheel==0.33.1
woob==3.0
xmltodict==0.11.0
zipp==3.4.1